h1{
    text-align: center;
    color: rgb(115, 33, 12);
    padding-top: 1rem;
}
p{
    text-align: center;
    color: rgb(69, 20, 9);
   font-size: 17px;
   font-weight: bolder;
   font-family: italic;
}
h3{
    color: rgb(69, 20, 9); 
    font-weight: bolder; 
}
