h1{
    text-align: center;
    color: rgb(115, 33, 12);  
    height: 3rem;
    padding-top:0.8rem;
    font-size: 2rem;
}
p{
    text-align: center;
    color: rgb(11, 150, 101);
   font-size: 17px;
   font-weight: bolder;
   font-family: italic;
}
h3{
    color: rgb(69, 20, 9); 
    font-weight: bolder; 
}
