

<nav class="navbar navbar-dark navbar-expand-sm bg-secondary">
    <div class="container">
    <a  class="navbar-brand fs-1" >
    <i class="bi bi-hospital fs-1 "></i> &nbsp;
    BITS
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbarCollapse" class="collapse navbar-collapse">
    <ul class="navbar-nav ml-auto  fs-5">
        <li class="nav-item">
            <a  class="nav-link">
                Profile
            </a>
        </li>
        <li class="nav-item">
            <a  class="nav-link">
                View Students
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link">
                View TimeTable
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link">
                Add Marks
            </a>
        </li>
        <li class="nav-item">
            <a   class="nav-link">
                View Marks
            </a>
        </li>
      
        <li class="nav-item">
            <a  class="nav-link">
                Logout
            </a>
        </li>

    </ul>
    </div></div></nav>

    
    <div>
        
    </div>