.search-student-btn .btn-primary {
    min-width: 135px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 9px 15px;
}
body {
    margin: 2rem 0rem;  
  }
  
  h4 {
    margin: 3rem 0rem 2rem;
  }
  .head{
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 1px;
}
.heading{
    background-color:#5e056e;
    color:rgb(247, 230, 227);
    font-size:15px;
    height: 35px;
    line-height: 35px;
}
.form-control{
    background-color: floralwhite;
    border-color: rgb(228, 136, 16);
    color: black;
    font-weight: 500;
}