
<section style="background-color: #eee;">
<div class="container py-5">
  <div aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4 text-center">
    <h1>STUDENT MARKS</h1>
</div>
    <div class=" m-auto mb-5" >
        <form [formGroup]="StudentForm" (ngSubmit)="search()">
          <div class="row justify-content-center">
            <div class="col-sm-4">
                <label class="form-label "><b>Student Id</b></label>
                <input type="text" class="form-control" formControlName="hallticket">
            </div>
            <div class="col-sm-2 mt-4">
              <button type="submit" class="btn btn-primary">Search</button>
            </div>
          </div>
    </form>
    </div>
    <div class=" table-responsive mb-4">
<table class="table table-hover text-nowrap mb-0  m-auto">
    <thead class="bg-gradient ">
      <tr >
        <th  scope="col">Name</th>
        <th  scope="col">Student id</th>
        <th  scope="col">Semister</th>
        <th  scope="col">Branch</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let m of marks">
        <td>
          <div class="d-flex align-items-center ms-6">
            
            <div class="ms-6">
              <p class="fw-bold">{{m.studentname}}</p>
            </div>
          </div>
        </td>
        <td>
        {{m.hallticket}}
        </td>
        <td>
          {{m.sem}}
        </td>
        <td>
            {{m.branch}}
          </td>
      </tr>
     
    </tbody>
  </table>
</div>
<div class="card table-responsive">
    <table class="table table-hover text-nowrap mb-0  m-auto">
        <thead class="">
          <tr>
            <th scope="col">Subject-1 name</th>
            <th  scope="col">Marks Scored</th>
            <th  scope="col">Subject-2 name</th>
            <th  scope="col">Marks Scored</th>
            <th  scope="col">Subject-3 name</th>
            <th  scope="col">Marks Scored</th>
            <th  scope="col">Grand Total marks</th>
            <th  scope="col">Total marks</th>
            <th  scope="col">Percentage</th>
            <th  scope="col">Status</th>
            <th  scope="col">Action</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let m of marks">
            <td>{{m.subject1}}</td>
            <td>{{m.subject1marks}}</td>
            <td>{{m.subject2}}</td>
            <td>{{m.subject2marks}}</td>
            <td>{{m.subject3}}</td>
            <td>{{m.subject3marks}}</td>
            <td>{{m.totalMarks}}</td>
            <td>{{m.totalscoredmarks}}</td>
            <td>{{m.percentage}}</td>
            <td>{{m.status}}</td>
         
          <td> 
             <button type="button" class="btn"  data-bs-toggle="modal"data-bs-target=".bd-example-modal-lg"><i class="bi bi-pencil-square"></i> </button>
            <button type="button"class="btn"><i class="bi bi-trash"></i> </button>
        </td>
          </tr>
         
        </tbody>
      </table>
    </div>
</div>



  <!-- Modal -->

<div class="modal fade bd-example-modal-lg " tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
aria-hidden="true">
<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="container py-5">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4 text-center">
                    <h1>STUDENTS EDIT MARKS</h1>
                </nav>
            </div>
        </div>
    
        <div class="col-sm-9 m-auto">
            <div class="card mb-4 bg-light rounded-3 p-3">
                <div class="card-body">
                    <form>
                        <div class="col-sm-12">
                        <div class="row mb-3" >
                            <div class="col-sm-3 ">
                                <label class="form-label">Student id</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="col-sm-3">
                                <label class="form-label">Student Name</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="col-sm-3">
                                <label class="form-label ">Semister</label>
                                <select class="form-select form-control">
                                    <option value="" >--select--</option>
                                  <option value="sem1" >Semister-1</option>
                                  <option  value="sem2">Semister-2</option>
                                  <option  value="sem3">Semister-3</option>
                                  <option  value="sem4">Semister-4</option>
    
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <label class="form-label">Branch</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="row  mb-3">
                            <div class="col-sm-4">
                                <label class="form-label ">Subject-1</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="col-sm-4">
                                <label class="form-label ">Total Marks</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="col-sm-4">
                                <label class="form-label ">Marks Scored</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="row  mb-3">
                            <div class="col-sm-4">
                                <label class="form-label ">Subject-2</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="col-sm-4">
                                <label class="form-label ">Total Marks</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="col-sm-4">
                                <label class="form-label ">Marks Scored</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="row  mb-3">
                            <div class="col-sm-4">
                                <label class="form-label ">Subject-3</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="col-sm-4">
                                <label class="form-label ">Total Marks</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="col-sm-4">
                                <label class="form-label ">Marks Scored</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="row  mb-3">
                            <div class="col-sm-4">
                               
                            </div>
                            <div class="col-sm-4">
                                <label class="form-label ">Grand Total</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="col-sm-4">
                                <label class="form-label ">Total Marks Scored</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="row  mb-3">
                            <div class="col-sm-4">
                               
                            </div>
                         
                            <div class="col-sm-4">
                                <label class="form-label ">Percentage</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="col-sm-4 mb-3">
                                <label class="form-label ">Status</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
            
                    </div>
                  
                    </form>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                      </div>
                </div>
            </div>
        </div>
    </div>

  </div>
 
</div>
</div>
</section>