.navbar-brand{
    height: 6rem;
    color: rgb(45, 13, 13);
    padding: 35px;
    font-weight: bold; 
    text-align: center;
    text-shadow: -1px 2px 0px mediumblue;  
}
.navbar{
    background-color: antiquewhite;
    height: 6rem;
}
#sidebarMenu{
background-color: rgba(204, 203, 220, 0.475);
height: 41rem;
}
a{
    font-weight: bold;
}


