<section style="background-color: #eee;">
    <div class="container py-5">
      <div class="row">
        <div class="col">
          <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4 text-center">
           <h1>FACULTY PROFILE</h1>
          </nav>
        </div>
      </div>
  
      <div class="row" >
        <div class="col-lg-4">
          <div class="card mb-4">
            <div class="card-body text-center" >
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                class="rounded-circle img-fluid" style="width: 150px;">
              <h5 class="my-3">Mallikarjun</h5>
              <p class="text-muted mb-1">Asst Professor</p>
              <p class="text-muted mb-4">Electrical Department</p>
            </div>
            <div class="d-flex justify-content-center mb-5">
                <button type="button" class="btn btn-primary">Edit Profile</button>
              </div>
          </div>
     
        </div>
        <div class="col-lg-8">
          <div class="card mb-4">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Faculty Id</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">5224</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Faculty Name</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">Mallikarjun</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Father Name</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">Shankar</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Gender</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">Male</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Email id</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">Mallikarjun@gmail.com</p>
                </div>
              </div><hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Mobile</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">7095474566</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Date of birth</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">26/10/2000</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Subject</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">Electrical circuits</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Experiance</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">5 YRS</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Date of Join</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">20/10/19</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Address</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">Jagtial</p>
                </div>
              </div>
            
            </div>
          </div>
        </div>



        

      </div>
    </div>
</section>
           
            
        

<!-- <div class="card m-auto " style="width: 60%;">
    <div class="card-header text-center fs-3 p-4 ">
       <b> FACULTY PROFILE</b>
    </div>
    <div class="card-body">
        <div class="container-fulid">
            <div class="row fs-5 p-2">
                <div class="col-sm-8 mt-5">
                    <div class="row">
                        <div class="col-sm-6">
                            <b >Faculty Id : </b>A5454
                        </div>
                        <div class="col-sm-6">
                           <b> Faculty Name : </b>Mallikarjun
                        </div>
                    </div>
                </div>
                <div class="col-sm-8 mt-5 p-2">
                    <div class="row">
                        <div class="col-sm-6">
                           <b>Father Name : </b>Shankar
                        </div>
                        <div class="col-sm-6">
                           <b> Gender : </b>Male
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <img src="assets\images\facultylogin.jpg" width="100%" style="margin: 0px 0px 0px 20px;"
                        height="100px" alt="">
                </div>

            </div>


        </div>
        <div class="row fs-5 mt-5 p-2">
            <div class="col-sm-4">
              <b>Email.Id : </b>malli@gmail.com
            </div>
            <div class="col-sm-4">
              <b>Mobile No : </b>7095474566
            </div>
            <div class="col-sm-4">
               <b>Date Of Birth : </b>26/10/2000
            </div>

        </div>
        <div class="row fs-5 mt-5 p-2" >
            <div class="col-sm-4">
              <b> Date Of Join : </b>12/10/2003
            </div>
            <div class="col-sm-4">
               <b>Subject : </b>Electrical
            </div>
            <div class="col-sm-4">
               <b>Experiance : </b>2yrs
            </div>
        </div>
        <div class="row fs-5 mt-5">
            <div class="col-sm-6">
               <b>Address : </b>Jagtial
            </div>
        </div>

    </div>
</div>
 -->
