<div class="container">
    <h2 class="head mt-4 mb-2">Fees</h2>
</div>
<div class="container mt-4">
    <div class="row">
        <div class="col-12 col-md-8 col-lg-12">
          <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link active" data-bs-toggle="pill" href="#Collegefee" role="tab" aria-controls="pills-Collegefee" aria-selected="true">College-FEE</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="pill" href="#EEE-Studentsfee" role="tab" aria-controls="pills-EEE-Studentsfee" aria-selected="false">EEE- STUDENTS-FEE</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="pill" href="#ECE-Studentsfee" role="tab" aria-controls="pills-ECE-Studentsfee" aria-selected="false">ECE- STUDENTS-FEE</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="pill" href="#CIVIL-Studentsfee" role="tab" aria-controls="pills-CIVIL-Studentsfee" aria-selected="false">CIVIL- STUDENTS-FEE</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="pill" href="#MECH-Studentsfee" role="tab" aria-controls="pills-MECH-Studentsfee" aria-selected="false">MECH- STUDENTS-FEE</a>
              </li>
          </ul>

<!--College-Fees Record-->

          <div class="tab-content mt-3">
          <div class="tab-pane fade show active" id="Collegefee">
            <div class="table-responsive">
                <table class="table mt-1">
                    <thead>
                        <tr class="heading">
                            <th scope="col">S.NO</th>
                            <th scope="col">Employee ID</th>
                            <th scope="col">Admission Fee</th>
                            <th scope="col">College Fee</th>
                            <th scope="col">Library Fee</th>
                            <th scope="col">JNTU Fee</th>
                            <th scope="col">BUS Fee</th>
                            <th scope="col">Hostel Fee</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
          </div>

<!--EEE-Department Students Record-->

<div class="tab-pane fade" id="EEE-Studentsfee">
    <div class="row mt-4">
        <div class="col-lg-10">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search By HallTicketno ...." [(ngModel)]="this.SearchValue">
            </div>
        </div>
        <div class="col-lg-2">
            <div class="search-student-btn">
                <button type="btn" class="btn btn-primary" (click)="searchdata()">Search</button>
            </div>
        </div>
    </div>
    
    <div class="table-responsive">
        <table class="table mt-1">
            <thead>
                <tr class="heading1">
                    <th scope="col">S.NO</th>
                    <th scope="col">HallTicketNo</th>
                    <th scope="col">Type of Fee</th>
                    <th scope="col">Total Fee</th>
                    <th scope="col">Paying Fee</th>
                    <th scope="col">Remaining Fee</th>
                    <th scope="col">CleredBy</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let EEE of EEEfee; index as i">
                    <th scope="row">{{i+1}}</th>
                    <td>{{EEE.hallticket}}</td>
                    <td>{{EEE.typeoffee}}</td>
                    <td>{{EEE.totalfee}}</td>
                    <td>{{EEE.payingfee}}</td>
                    <td>{{EEE.remainingfee}}</td>
                    <td>{{EEE.clearedby}}</td>
                </tr>
            </tbody>
        </table>
    </div>
  </div>

<!--ECE-Department Students Record-->

          <div class="tab-pane fade" id="ECE-Studentsfee">
            <div class="row mt-4">
                <div class="col-lg-10">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search By HallTicketno ...." [(ngModel)]="this.SearchValue">
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="search-student-btn">
                        <button type="btn" class="btn btn-primary" (click)="searchdata()">Search</button>
                    </div>
                </div>
            </div>
            
            <div class="table-responsive">
                <table class="table mt-1">
                    <thead>
                        <tr class="heading1">
                            <th scope="col">S.NO</th>
                            <th scope="col">HallTicketNo</th>
                            <th scope="col">Type of Fee</th>
                            <th scope="col">Total Fee</th>
                            <th scope="col">Paying Fee</th>
                            <th scope="col">Remaining Fee</th>
                            <th scope="col">CleredBy</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let ECE of ECEfee; index as i">
                            <th scope="row">{{i+1}}</th>
                            <td>{{ECE.hallticket}}</td>
                            <td>{{ECE.typeoffee}}</td>
                            <td>{{ECE.totalfee}}</td>
                            <td>{{ECE.payingfee}}</td>
                            <td>{{ECE.remainingfee}}</td>
                            <td>{{ECE.clearedby}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
          </div>

<!--CIVIL-Department Students Record-->

          <div class="tab-pane fade" id="CIVIL-Studentsfee">
            <div class="row mt-4">
                <div class="col-lg-10">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search By HallTicketno ...." [(ngModel)]="this.SearchValue">
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="search-student-btn">
                        <button type="btn" class="btn btn-primary" (click)="searchdata()">Search</button>
                    </div>
                </div>
            </div>
           

            <div class="table-responsive">
                <table class="table mt-1">
                    <thead>
                        <tr class="heading1">
                            <th scope="col">S.NO</th>
                            <th scope="col">HallTicketNo</th>
                            <th scope="col">Type of Fee</th>
                            <th scope="col">Total Fee</th>
                            <th scope="col">Paying Fee</th>
                            <th scope="col">Remaining Fee</th>
                            <th scope="col">CleredBy</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let CIVIL of CIVILfee; index as i">
                            <th scope="row">{{i+1}}</th>
                            <td>{{CIVIL.hallticket}}</td>
                            <td>{{CIVIL.typeoffee}}</td>
                            <td>{{CIVIL.totalfee}}</td>
                            <td>{{CIVIL.payingfee}}</td>
                            <td>{{CIVIL.remainingfee}}</td>
                            <td>{{CIVIL.clearedby}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
          </div>

<!--MECH-Department Students Record-->

          <div class="tab-pane fade" id="MECH-Studentsfee">
            <div class="row mt-4">
                <div class="col-lg-10">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search By HallTicketno ...." [(ngModel)]="this.SearchValue">
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="search-student-btn">
                        <button type="btn" class="btn btn-primary" (click)="searchdata()">Search</button>
                    </div>
                </div>
            </div>
            
            <div class="table-responsive">
                <table class="table mt-1">
                    <thead>
                        <tr class="heading1">
                            <th scope="col">S.NO</th>
                            <th scope="col">HallTicketNo</th>
                            <th scope="col">Type of Fee</th>
                            <th scope="col">Total Fee</th>
                            <th scope="col">Paying Fee</th>
                            <th scope="col">Remaining Fee</th>
                            <th scope="col">CleredBy</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let MECH of MECHfee; index as i">
                            <th scope="row">{{i+1}}</th>
                            <td>{{MECH.hallticket}}</td>
                            <td>{{MECH.typeoffee}}</td>
                            <td>{{MECH.totalfee}}</td>
                            <td>{{MECH.payingfee}}</td>
                            <td>{{MECH.remainingfee}}</td>
                            <td>{{MECH.clearedby}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
          </div>


        </div>        
        </div>
    </div>
  </div>

