
<div class="table-responsive text-nowrap">
    <table class="table mt-1">
        <thead>
          <tr class="tHead">
            <th scope="col">S.No</th>
            <th scope="col">Employee Id</th>
            <th scope="col">EmployeeName</th>
            <th scope="col">Qualification</th>
            <th scope="col">Experience</th> 
            <th scope="col">Joining Date</th>
            <th scope="col">Details</th>   
            <th scope="col">Action</th>        
          </tr>
        </thead>
        <tbody>
          <tr class="tBody" *ngFor="let O of OfficerList index as i">
            <td>{{i+1}}</td>
            <td><b>{{O.empid}}</b></td>
            <td>{{O.name}}</td>
            <td>{{O.qualification}}</td>
            <td style="color:rgb(49, 11, 74);"><b>{{O.yearofexperience}}</b></td>
            <td>{{O.joiningdate}}</td>
            <td>
              <a class="edit" (click)="open(O)">
                  <span class="material-symbols-outlined">
                      edit_square
                  </span>
              </a>
          </td>
            <td>
                <button mat-icon-button color="primary" (click)="editOfficer(O)">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button color="warn" (click)="deleteOfficer(O)">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
