
.head{
    text-align: center;
    font-family: 'Times New Roman';
    font-size: 30px;

}
.head1{
    text-align: center;
    font-family: 'Times New Roman';
    font-size: 24px;
}
.card-header{
    background-color: #343a40;
    color: whitesmoke;
}
.card-body{
    background-color: #e8e5e5;
    font-family: 'Times New Roman';
    font-weight: bold;
}
.btn{
    width: 60%;
    background: #3D5EE1;
    color: #fff;
}
input{
    border: 0;
    border-radius: 1rem;
}
select{
    border: 0;
    border-radius: 1rem;
}
