.sidenav-container {
  height: 100%;
  background-color: #f6f8fb;
}

.sidenav {
  width: 180px;
  margin-top: 4rem;
  background-color: gainsboro;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.navbar{
  
  background-color: cornflowerblue;
}
.btn{
  background-color: cornflowerblue;
}
mat-nav-list{
  margin-left: 1rem;
  margin-right: 1rem;
}
.material-symbols-outlined {
  color: blue;
  font-variation-settings:
  'FILL' 0,
  'wght' 700,
  'GRAD' 0,
  'opsz' 48
}
img{
  height: 45%;
  width: 10%;
}
.logo {
  width: 65%;
  border-radius: 50%;
  height: 50px;
  margin-left: 15px;
}
.links {
  color: rgb(37, 37, 93);
}

.links:hover {
  font-size: 17px;
  border-radius: 5px;
  background-color: gray;
  color: #fff;
}
.active {
  border-left: 8px solid rgb(118, 156, 211);
  border-bottom: 1px solid rgb(118, 156, 211);
  border-top: 1px solid rgb(118, 156, 211);
  font-family: 'Times New Roman';
  font-weight: bold;
  font-size: 20px;

}

