.sidenav-container {
  height: 100%;
  background-color: #f6f8fb;
}

.sidenav {
  width: 200px;
  margin-top: 5rem;
  background-color: #edf0f4;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.navbar{
  height: 5rem;
  background-color: #edf0f4;
}
mat-nav-list{
  margin-left: 1rem;
  margin-right: 1rem;
}
.material-symbols-outlined {
  color: blue;
  font-variation-settings:
  'FILL' 0,
  'wght' 700,
  'GRAD' 0,
  'opsz' 48
}
