<div class="container-fluid p-0 sticky-top">
  <nav class="navbar">
    <button
    type="button"
    aria-label="Toggle sidenav"
    mat-icon-button
    (click)="drawer.toggle()"
    *ngIf="isHandset$ | async">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  <a class="navbar-brand" href="#">LOGO</a>
  <span style="font-size:1rem;">Bright Institute Of Technology & Science</span>
  <span>logout</span>
  </nav>
</div>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-nav-list>
      <a mat-list-item routerLinkActive="active"><span class="material-symbols-outlined">grid_view</span> &nbsp; Home</a>
      <a mat-list-item [matMenuTriggerFor]="belowMenu">
        <span class="material-symbols-outlined">person</span>
        &nbsp; Officers 
       <span class="material-symbols-outlined">arrow_drop_down</span></a>
        <mat-menu #belowMenu="matMenu" yPosition="below">
          <a mat-menu-item> Officer List</a>
          <a mat-menu-item> Officer Add</a>
        </mat-menu>
        <a mat-list-item href="">
          <span class="material-symbols-outlined">school</span>
          &nbsp; Students </a>
          <a mat-list-item href="#">
            <span class="material-symbols-outlined">supervisor_account</span> &nbsp; Department</a>
          <!-- <a mat-list-item href="#">
            <span class="material-symbols-outlined">local_library</span>&nbsp; Courses</a> -->
          <a mat-list-item href="#">
            <span class="material-symbols-outlined">library_books</span> &nbsp; Library</a>
          <!-- <a mat-list-item href="#">
            <span class="material-symbols-outlined">departure_board</span> &nbsp; Transport</a> -->
          <a mat-list-item href="#">
            <span class="material-symbols-outlined">currency_rupee</span> &nbsp; Fee</a>
          <a mat-list-item href="#">
            <span class="material-symbols-outlined">note_alt</span> &nbsp; Marks List</a>
          <!-- <a mat-list-item href="#">
            <span class="material-symbols-outlined">event_note</span> &nbsp; Placements</a> -->
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>


<h1>Content</h1>

    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
