.Thead{
    color:rgb(34, 92, 3) ;
    font-size:1.2rem;
}
h1{
    color: rgb(84, 23, 6);
    font-size: 2rem;
    border-bottom: 0.1rem solid rgb(176, 162, 10);
}
td{
    color: rgb(19, 2, 2);
    font-size: 1.1rem;
    font-weight: bolder;
    height: 3rem;  
    background-color: rgb(185, 222, 222); 
}
.container{
    background-color: rgb(159, 164, 168);
}


